html {
    background: rgb(201, 201, 201);
    overflow: auto;
    scroll-behavior: smooth;
}

.main-header {
    text-align: center;
}

.general-info {
    text-align: center;
}

.general-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #036bfc;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition-duration: 0.5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    width: 100%;
}

.general-button:hover {
    background-color: #002ea3;
}

.alternate-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #002ea3;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition-duration: 0.5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    width: 100%;
}

.alternate-button:hover {
    background-color: #000000;
}

.title-button {
    position: absolute;
    right: 1vw;
    top: 2vh;
    background-color: #036bfc;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition-duration: 0.5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    width: fit-content;
    line-height: 2vh;
    height: 5vh;
}

.title-button-2 {
    position: absolute;
    right: 25vw;
    top: 2vh;
    background-color: #068c1a;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition-duration: 0.5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    width: fit-content;
    line-height: 2vh;
    height: 5vh;
}

.title-button:hover {
    background-color: #002ea3;
}

.title-button-2:hover {
    background-color: #03540f;
}

.title-bar {
    position: fixed;
    display: block;
    width: 100vw;
    height: 9vh;
    left: 0px;
    top: 0px;
    opacity: 90%;
    background: #FFFFFF;
    z-index: 90;
    user-select: none;
}

.title-bar-logo {
    height: 100%;
}

.post {
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    max-width: 50%;
}

.post-title {
    font-family: 'Open Sans', sans-serif;
}

.post-username {
    font-family: 'Open Sans', sans-serif;
}

.post-image {
    width: 100%;
}

.container-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.welcome-message {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.general-info {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.login-header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.registration-header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.upload-header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.upload-file {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
}

.text-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    height: 40px;
    width: 98%;
    padding: 2px 2px;
    text-align: center;
}

.container {
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

.login-header {
    text-align: center;
}

.registration-header {
    text-align: center;
}
